/* Ini File CSS */
body{
    background-color: gainsboro;
}

main{
    border: 1px solid;
    padding: 20px;
    background-color: pink;
}

.p1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    text-align: justify;
}

.form-group {
    display: flex;
    background-color: white;
    font-family: monospace;
    font-size: medium;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    justify-self: center;
}

.button{
    justify-self: center;
}

.btnhitung{
    background-color: red;
    padding: 10px;
    min-width: 50px;
}

.btnreset{
    background-color: whitesmoke;
    padding: 10px;
    min-width: 50px;
}

#resultbmi{
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    font-family: math;
}

.p2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

.p3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

.p4{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

footer{
    text-align: center;
}